<div class="container-fluid home-container" ng-controller="homeController">
  <!-- Blue top line division -->
  <div class="nav-top-blue"></div>
  <!-- Slideshow, logo and menu tags -->
  <div class="container-header parallax-header">

    <!-- Logo and menu var in header -->
    <div class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="" class="navbar-brand">
              <img src="media/template/img/VMNS_Horizontal_BG_Blanco.png" alt="Logo VMsignage" width="200">
            </a>
          </div>
          <div class="collapase navbar-collapase">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="" class="link-inicio">Inicio</a></li>
              <li><a href="" class="link-qsomos">Quíenes Somos</a></li>
              <li><a href="" class="link-contactenos">Contáctenos</a></li>
              <li><a href="" class="link-login">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="spacer50"></div>
    <div class="spacer20"></div>

    <!-- Digital signage container -->
    <div class="container slideshow-container">
      <div class="row">

        <!-- Text content -->
        <div class="col-md-5 slideshow-content-text">
          <div class="spacer10"></div>
          <div class="bigger-text">Tristique Send</div>
          <div class="big-text">Pellentesque Habitant</div>
          <div class="spacer40"></div>
          <div class="text">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
          </div>
          <div class="spacer30"></div>
          <div class="signin-buttom">
            <buttom class="btn btn-primary">Sign In</buttom>
          </div>
        </div>

        <!-- TV Digital Signage container -->
        <div class="col-md-7 col-sm-12 col-xs-12">
          <!-- Look & feel container -->
          <div class="container-tv">
            <div class="row">

              <!-- Active zone and header zone -->
              <div class="col-md-8">
                <div class="signage-header">
                  <header-zone></header-zone>
                </div>
                
                <div class="signage-active-zone">
                  <active-zone></active-zone>  
                </div>
              </div>

              <!-- Slideshow zone -->
              <div class="col-md-4">
                <div class="signage-slideshow">
                  <slideshow-zone></slideshow-zone>
                </div>
              </div>
            </div>

            <!-- MArquee Zone -->
            <div class="signage-marquee">
              <marquee-zone></marquee-zone>
            </div>

            <div id="trigger" class="spacer s0"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer30"></div>

  <div class="second-container">
    <div  id="animate" class="container" style="opacity: 0;">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="media/template/img/domoarigato.jpg" alt="Robot domo arigato" width="100%">
            </div>
            <div class="panel-footer">Panel footer 1</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="media/template/img/AB_nature.png" alt="Nature" width="100%">
            </div>
            <div class="panel-footer">Panel footer 2</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="media/template/img/diagram1.jpg" alt="Digital signage diagram" width="100%">
            </div>
            <div class="panel-footer">Panel footer 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="third-container">
    <div id="trigger1" class="spacer s0"></div>
    <div class="third-building1"></div>
    <div id="trigger2" class="spacer s0"></div>
    <div class="third-building2"></div>
    <div id="trigger3" class="spacer s0"></div>
    <div class="third-building3">
      <div id="trigger4" class="spacer50 s0"></div>
      <div class="spacer30"></div>
      <div class=" container container-third-text">
        <div class="third-tittle">
          <div class="third-whiteline"></div>
          Este es el que contiene el contenido.
        </div>
        <div id="trigger5" class="spacer s0"></div>
        <div class="third-vmsignage">
          VMSIGNAGE
        </div>
        <div id="trigger6" class="spacer100 s0"></div>
        <div class="third-text">
          Consectetur adipiscing elit. Nunc ut purus diam. Mauris iaculis et diam et congue. Mauris laoreet, lectus ut accumsan suscipit, tortor urna finibus nibh, id mattis erat dui nec diam. Iaculis et diam et congue. Mauris laoreet, lectus ut accumsan suscipit,
        </div>
      </div>
    </div>
  </div>

  <div class="fourth-container">
    <div class="container">
      <div class="fourth-text">
        <img src="media/template/img/vms_logo.png" alt="logo vmsignage sin texto" width="114">
        <p>Nunc ut purus diat mauris iaculis et diam et congue</p>
      </div>
      <div class="spacer40"></div>
      <div class="row">
        <div class="col-sm-4 btn-fourth-1">
          <button class="btn">Ut purus iaculis</button>
        </div>
        <div class="col-sm-4 btn-fourth-2">
          <button class="btn">Ut purus iaculis</button>
        </div>
        <div class="col-sm-4 btn-fourth-3">
          <button class="btn">Ut purus iaculis</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="nav">
            <li>Lorem</li>
            <li>Ipsu</li>
            <li>Larem</li>
          </ul>
        </div>

        <div class="col-sm-6">
          <contact-directive></contact-directive>
        </div>

      </div>
  
      <div class="footer-line"></div>

      <div class="row">
        <div class="col-sm-6">
          <p class="reserve">© 2016 VIRTUALMEDIA NETWORK S.A.S TODOS LOS DERECHOS RESERVADOS</p>
        </div>
        <div class="col-sm-6">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
            <button class="scrollToTop btn btn-sm">TOP &nbsp;<i class="glyphicon glyphicon-menu-up"></i></button>
          </ul>
          <script>
            $('.scrollToTop').click(function(){
              $('html, body').animate({scrollTop : 0}, 800);
            });
          </script>
        </div>
      </div>

    </div>
  </div>

</div>